.grid-article {
    border: 1px solid black;
    background-color: black;
    padding: 20px;
}

thead {
 color: #ccbadc;
 font-family: 'Raleway', sans-serif;     
}

td {
    font-family: 'Raleway', sans-serif;   
    color: #330f53;    
}